:root {
  --black: rgba(0, 0, 0, 1);
  --black-black-10-font-family: "Roboto-Black", Helvetica;
  --black-black-10-font-size: 10px;
  --black-black-10-font-style: normal;
  --black-black-10-font-weight: 900;
  --black-black-10-letter-spacing: 0px;
  --black-black-10-line-height: 20px;
  --black-black-12-font-family: "Roboto-Black", Helvetica;
  --black-black-12-font-size: 12px;
  --black-black-12-font-style: normal;
  --black-black-12-font-weight: 900;
  --black-black-12-letter-spacing: 0px;
  --black-black-12-line-height: 20px;
  --black-black-14-font-family: "Roboto-Black", Helvetica;
  --black-black-14-font-size: 14px;
  --black-black-14-font-style: normal;
  --black-black-14-font-weight: 900;
  --black-black-14-letter-spacing: 0px;
  --black-black-14-line-height: 30px;
  --blueblue: rgba(51, 97, 255, 1);
  --blueblue-10: rgba(235, 242, 252, 1);
  --bold-bold-10-font-family: "Roboto-Bold", Helvetica;
  --bold-bold-10-font-size: 10px;
  --bold-bold-10-font-style: normal;
  --bold-bold-10-font-weight: 700;
  --bold-bold-10-letter-spacing: 0px;
  --bold-bold-10-line-height: 20px;
  --bold-bold-12-font-family: "Roboto-Bold", Helvetica;
  --bold-bold-12-font-size: 12px;
  --bold-bold-12-font-style: normal;
  --bold-bold-12-font-weight: 700;
  --bold-bold-12-letter-spacing: 0px;
  --bold-bold-12-line-height: 20px;
  --dark-3: rgba(38, 45, 52, 1);
  --dark-4: rgba(44, 53, 61, 1);
  --deepblack: rgba(38, 38, 38, 1);
  --deepgrey: rgba(66, 66, 66, 1);
  --gray-bluegrey-blue-25: rgba(32, 43, 64, 1);
  --gray-bluegrey-blue-35: rgba(45, 60, 89, 1);
  --gray-bluegrey-blue-50: rgba(77, 94, 128, 1);
  --gray-bluegrey-blue-60: rgba(107, 122, 153, 1);
  --gray-bluegrey-blue-70: rgba(125, 143, 179, 1);
  --gray-bluegrey-blue-80: rgba(173, 184, 204, 1);
  --gray-bluegrey-blue-97: rgba(245, 246, 247, 1);
  --greengreen-10: rgba(231, 250, 244, 1);
  --grey: rgba(229, 229, 229, 1);
  --purplepurple-10: rgba(240, 241, 254, 1);
  --red: rgba(255, 89, 70, 1);
  --redred-10: rgba(255, 236, 230, 1);
  --redred-80: rgba(255, 105, 52, 1);
  --regular-9-font-family: "SourceSans Pro-Regular", Helvetica;
  --regular-9-font-size: 9px;
  --regular-9-font-style: normal;
  --regular-9-font-weight: 400;
  --regular-9-letter-spacing: 0px;
  --regular-9-line-height: 14px;
  --secondary-colorbackground: rgba(255, 255, 255, 1);
  --secondary-colorsecondary-2: rgba(63, 67, 84, 1);
  --secondary-colorsecondary-3: rgba(151, 152, 157, 1);
  --secondary-colorsecondary-4: rgba(133, 142, 173, 1);
  --secondary-colorsecondary-6: rgba(244, 246, 248, 1);
  --semibold-12-font-family: "SourceSans Pro-SemiBold", Helvetica;
  --semibold-12-font-size: 12px;
  --semibold-12-font-style: normal;
  --semibold-12-font-weight: 600;
  --semibold-12-letter-spacing: 0px;
  --semibold-12-line-height: 18px;
  --semibold-9-font-family: "SourceSans Pro-SemiBold", Helvetica;
  --semibold-9-font-size: 9px;
  --semibold-9-font-style: normal;
  --semibold-9-font-weight: 600;
  --semibold-9-letter-spacing: 0px;
  --semibold-9-line-height: 14px;
  --shadows-gray-blue-30-3-10b: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
  --shadows-gray-blue-30-3-5b: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  --white: rgba(255, 255, 255, 1);
  --whitewhite: rgba(255, 255, 255, 1);
  --yellowyellow-10: rgba(253, 244, 234, 1);
}
