.status {
  border-radius: 100px;
  box-shadow: var(--shadows-gray-blue-30-3-10b);
  position: relative;
}

.status.color-border {
  border-color: var(--blueblue);
}

.status.color-center {
  background-color: var(--blueblue);
}

.status.two {
  border: 2px solid;
  height: 12px;
  width: 12px;
}

.status.center-color {
  border-color: var(--blueblue);
}

.status.three {
  border: 3px solid;
  height: 13px;
  width: 13px;
}

.status.center-color.style-7-light {
  background-color: var(--whitewhite);
}

.status.four.color-center {
  border: 3px solid;
  height: 13px;
  width: 13px;
}

.status.color-border.style-7-light {
  background-color: var(--whitewhite);
}

.status.style-7-dark.color-center {
  border-color: var(--gray-bluegrey-blue-25);
}

.status.center-color.style-7-dark {
  background-color: var(--gray-bluegrey-blue-25);
}

.status.style-7-dark.color-border {
  background-color: var(--gray-bluegrey-blue-25);
}

.status.center-color.four {
  border: 4px solid;
  height: 14px;
  width: 14px;
}

.status.color-center.style-7-light {
  border-color: var(--whitewhite);
}
